@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

canvas {
  opacity: 0.9;
  filter: blur(8px);
}

@media (max-width: 768px) {
  canvas {
    display: none;
  }
}